{%extends "layout.html" %} 
{%block content%}
<title>Bulletin</title>
<div class="centre-div">
    <h1 class="centre-text">
        ABOUT BULLETIN
    </h1>
    <a href="https://replit.com/@WyattW0569/Bulletin">
        <p class ="heading centre-text proj-link">Repl</p>
    </a>
</div>
<div class="project-content">
    <div class="border-r">
        <p class="centre-text bold proj-heading">Project Description</p>
    </div>
    <div>
        <p class="centre-text bold proj-heading">Languages and Frameworks Used</p>
        <div style="margin-left: 5%;">
            <p class="bold">Languages/Markup:</p>
            <ul>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <p class="bold">Frameworks/API/Tools:</p>
            <ul>
                <li>Django</li>
                <li>Database using SQLite</li>
            </ul>
            <p class="bold">Timeline:</p>
            <p>Feb 2023 - Mar 2023</p>
        </div>
    </div>
</div>
{%endblock%}