{%extends "layout.html" %} 
{%block content%}
<title>Harmony</title>
<div class="centre-div">
    <h1 class="centre-text">
        ABOUT HARMONY
    </h1>
    <a href="https://github.com/WyattW0569/Harmony">
        <p class ="heading centre-text proj-link">Github</p>
    </a>
</div>
<div class="project-content">
    <div class="border-r">
        <p class="centre-text bold proj-heading">Project Description</p>
    </div>
    <div>
        <p class="centre-text bold proj-heading">Languages and Frameworks Used</p>
        <div style="margin-left: 5%;">
            <p class="bold">Languages/Markup:</p>
            <ul>
                <li>Rust</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <p class="bold">Frameworks/API/Tools:</p>
            <ul>
                <li>Frontend - Yew 0.20.0</li>
                <li>Backend - Actix Web 3.2.0</li>
            </ul>
            <p class="bold">Timeline:</p>
            <p>April 2023 - June 2023</p>
        </div>
    </div>
</div>
{%endblock%}