{%extends "layout.html" %} 
{%block content%}
<title>Lenticel</title>
<div class="centre-div">
    <h1 class="centre-text">
        ABOUT LENTICEL
    </h1>
    <a href="https://lenticel.onrender.com">
        <p class ="heading centre-text proj-link ">Website</p>
    </a>
</div>
<div class="project-content">
    <div class="border-r">
        <p class="centre-text bold proj-heading">Project Description</p>
        <div style="margin-left: 5%; margin-right: 5%;">
            <p>Lenticel is a Flask-based Webapp designed to convert Apple Music playlists into a Spotify playlist saved
                to your library. Once signed in, you may also browse through your saved playlists, and view public Spotify playlists.
                The converter takes a link to a public Apple Music playlist, and a user inputed playlist name and description.
                The program will also attempt to grab the playlist image when converting to spotify.
            </p>
            <br>
            <p>I made this program to solve a problem I was facing on almost a daily basis. My partner is an avid Apple Music user,
                while I am a Spotify user. We love to share music with eachother, and make eachother playlists. With this tool, all she has
                to do is send me a link to the Apple Music playlist she made, and I can save it to my Spotify Library in no time.
            </p>
        </div>
    </div>
    <div>
        <p class="centre-text bold proj-heading">Languages and Frameworks Used</p>
        <div style="margin-left: 5%;">
            <p class="bold">Languages/Markup:</p>
            <ul>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <p class="bold">Frameworks/API/Tools:</p>
            <ul>
                <li>Flask</li>
                <li>Spotify API Using the Spotipy Library</li>
                <li>Gunicorn server, hosted on render</li>
                <li>Chrome Webdriver</li>
            </ul>
            <p class="bold">Timeline:</p>
            <p>June 2024 - July 2024</p>
        </div>
    </div>
</div>
<div>
    <h1 class="centre-text">
        DEMO SCREENSHOTS
    </h1>
    <div class="demo-ss">
        <div class="centre-div">
            <img style="box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            margin-bottom: 2%;" src="{{ url_for('static', filename='images/lenticel/ss-1.png') }}"alt="" width="700" height="394">
        </div>
        <div class="centre-div">
            <img style="box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);" src="{{ url_for('static', filename='images/lenticel/ss-2.png') }}"alt="" width="700" height="394">
        </div>
        <div class="centre-div">
            <img style="box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);" src="{{ url_for('static', filename='images/lenticel/ss-3.png') }}"alt="" width="700" height="394">
        </div>
        <div class="centre-div">
            <img style="box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);" src="{{ url_for('static', filename='images/lenticel/ss-4.png') }}"alt="" width="700" height="394">
        </div>
</div>
{%endblock%}